.content-section
  display flex   //Layout: Allow content to stretch to fit .content-section.
  flex 1 0 auto  //Layout: Grow container if window is larger than content, but never shrink if vice versa.
