.data-guide
  max-width: 60em
  margin: auto
  
  .image-block
    display: block
    margin: 1em auto
  
  h3
    font-family: monospace

  ul
    list-style-type: disc
    
    li
      b
        font-family: monospace
        