@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.dialog-ver3
  position: fixed
  left: 0
  top: 0
  z-index: 1000001  //Place waaay above map plugin elements.
  width: 100vw
  height: 100vh
  display: none  //Hide initially, add .enabled to show.
  flex-direction: column
  justify-content: center
  align-items: center
  background: rgba(0, 0, 0, 0.5)
  display: flex
  cursor: pointer  //Click to close
  animation: fadeIn 1s

  .dialog-box
    flex: 0 0 auto
    background: off-white
    padding: 1em
    border-radius: 1em
    cursor: default
    box-shadow: 0 2px 10px dark-grey
    max-width: 90vw
    max-height: 90vh
    overflow: auto
    
    .close-button
      font-size: 0.5em
      float: right

    > div
      text-align: center
      
  &.view-camera
    
    .title
      font-size: 1.2em
      
      .highlight
        color: green
        font-weight: bold
        margin: 0.2em
      
    .meta
      margin: 0.5em 2em 0 2em
      color: medium-grey
      
    .data
      border: 1px solid light-grey
      margin-top: 0.5em
      padding: 0.5em 0
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      
      .item
        flex: 0 0 auto
        display: block
        width: 30%
        margin-bottom: 0.5em
        
        img
          display: block
          width: 100%
      
      .message
        flex: 0 0 auto
        width: 100%
        color: green
    
    .sad-message
      color: medium-grey
    
    .small-message
      color: medium-grey
      font-size: 0.8em

  &.select-for-assignment
    .dialog-box
      max-width: 560px
    
    .message
      padding: 0 1em
      margin-bottom: 1em
      
      span, input
        display: inline-block
        margin: 0 0.2em
        
        &.highlight
          color: green
          font-weight: bold
    
    .action-message
      background: yellow
      padding: 0.5em
      border-radius: 1em
        
      button
        margin-left: 1em

  &.tutorial-dialog
    .dialog-box
      background: off-white
    
    .page
      animation: fadeIn 2s
      padding: 1em
    
      .image
        display: block
        max-width: 80%
        margin: 0 auto 1em auto
        border-radius: 1em
        box-shadow: 0 0.2em 0.5em dark-grey
      
      .title
        font-weight: bold
        font-size: 1.1em
        margin: 1em auto 0 auto
        color: green
        text-shadow: 0 0.2em 0.5em light-grey
      
      .text
        margin: 1em auto
        padding: 1em
        background: white
        color: dark-grey
        box-shadow: 0 0.2em 0.5em light-grey
        text-align: left
        width: 80%
        min-width: 400px
        border-radius: 0.5em
        
        p
          span
            margin-right: 0.1em
        
          .bold
            font-weight: bold
    
    .paging
      text-align: center
      padding: 0 1em 1em 1em
      
      .selected
        background: green
        color: white
