.fadeout
    -webkit-animation fade 1s linear forwards
    animation fade 1s linear forwards
    -webkit-animation-delay 2s
    animation-delay 2s

@-webkit-keyframes fade
  0% { opacity: 1 }
  50% { opacity: 0.5 }
  100% { opacity: 0 }

@keyframes fade
  0% { opacity: 1 }
  50% { opacity: 0.5 }
  100% { opacity: 0 }

