.home
  @extend .container
  .jumbotron
    background none
    text-align center
    .work-in-progress
      margin: 0 auto 1em auto
      width: 75%
      p
        color: yellow
        font-size: 1em
        text-shadow: 1px 1px 2px #000, -1px 1px 2px #000
    .sub-title
      background green-rgba
      margin 0 auto
      padding 40px
      width 75%
