.home
  @extend .container
  .jumbotron
    background none
    text-align center
    .work-in-progress
      color: yellow
      margin: 0 auto 1em auto
      width: 75%
      p
        font-size: 1em
        text-shadow: 1px 1px olive-green
    .sub-title
      background green-rgba
      margin 0 auto
      padding 40px
      width 75%
