.info-page
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  
  .info-panel
    flex: 0 0 auto
    margin: 2em
    padding: 2em
    max-width: 80em
    background: #fff
    border-radius: 1em
    box-shadow: 0px 2px 10px #333

    p
      font-size: 1.2em
    
    .action-subpanel
      text-align: center