.map-explorer-ver3
  width: 100%
  overflow: hidden
  display: flex
  position: relative
  
  .map-visuals
    flex: 0 0 auto
    width: 100%
    height: 100%
    
    #mapVisuals
      width: 100%
      height: 100%
    
    .legend
      padding: 0.2em 0.5em
      background: rgba(255, 255, 255, 0.8)
      border-radius: 0.2em
    
    #mapVisualsDEBUG
      border: 1px solid red
      position: absolute
      left: 0
      bottom: 0
      width: 50%
      height: 200px
      background: #fff

  .map-controls
    background: #fff
    position: absolute
    right: 0
    top: 0
    width: 50%
    height: 200px
