.map-explorer
  display: flex
  flex: 1 0 auto
  flex-direction: row-reverse
  background: #edc
  
  .map-visuals
    flex: 1 1 auto
    border: 1em solid #9cc
  
  .map-controls
    flex: 0 0 auto
    min-height: 20px
    border: 1em solid #99c
    padding: 1em