.map-explorer-ver3
  width: 100%
  overflow: hidden
  display: flex
  position: relative
  
  .map-visuals
    flex: 0 0 auto
    width: 100%
    height: 100%
    
    #mapVisuals
      width: 100%
      height: 100%
    
    .legend
      padding: 0.2em 0.5em
      background: rgba(255, 255, 255, 0.8)
      border-radius: 0.2em

  .map-controls
    background: #fff
    position: absolute
    overflow: scroll
    right: 0
    top: 0
    width: 30em
    max-width: 100%
    height: 50%
    
    .summary
      border: 1px solid #f93
      border-radius: 1em
      margin: 0.5em
      padding: 0.5em
      text-align: center
      
    .filter-group
      margin: 0.5em
      padding: 0.5em
      border: 1px solid #999
      
      label
        display: block
        cursor: pointer
        font-weight: normal
        
        input[type=checkbox]
          visibility: hidden
        
        &.selected
          background: #f93
          color: #fff
          
        &:hover
          background: #ccc
