.notification
  color: #fff
  background: rgba(255,255,255,0.5)
  margin: 0.2em
  padding: 0.1em
  border-radius: 0.4em
  
  &.closed
    font-size: 0.8em
  
  &.open
    font-size: 0.8em
  
  .button
    display: inline-block
    width: auto
    border: none
    background: #fff
    color: #333
    padding: 0.2em
    margin: 0 0.5em
    font-size: 0.8em
  
  .notification-body
    border-top: 1px solid #fff
    padding: 0.5em 1em
