.sidebar
  left 0
  padding-left 15px
  position absolute
  width 250px

  .nav
    margin 0
    padding 0

    li
      color dark-grey
      cursor pointer
      list-style-type none
      padding 10px 15px


      &:hover
        background-color dark-grey
        color off-white

    li:first-child
      border-top none
      padding-top 8px

    li.active
      color blue


