.site-footer  
  //The following isn't important; it's just a temporary styling for visuals ONLY and can be discarded for a proper footer.
  background #06b
  color #fff
  padding .5em
  text-align center
