.site-footer
  //The following isn't important; it's just a temporary styling for visuals ONLY and can be discarded for a proper footer.
  background dark-grey url(../images/zooniverse.png) no-repeat center -50px
  color #fff
  padding 1em
  text-align center
