.site-header
  @extend .navbar
  @extend .navbar-default
  @extend .navbar-static-top
  color #fff
  background green
  margin-bottom 0
  
  .navbar-brand
    background url(../images/zooniverse.png) no-repeat center left
    background-size 30px
    padding-left 40px

  .title
    display inline-block
    padding 0 20px

  .link
    display inline-block
    margin 10px
    padding 10px
    color #fff
    text-decoration none
    border-radius 3px
    &.active,
    &:hover
      background-color #0085F3
