.site-footer
  flex 0 0 auto  //Layout: Sticky footer. Sticks to bottom of window or bottom of page, whichever is larger.
  
  //The following isn't important and can be discarded.
  background #333
  color #fff
  padding .5em
  text-align center
