.student-assignmentlist
  width: 100%
  max-width: 60em
  padding: 0 2em
  margin: 0 auto
  background-color: rgba(216,216,216,0.6)

  .list
    padding: 0

    .listitem
      background: transparent
      display: flex
      align-items: center
      margin-bottom: 1em

    .listitem > div:nth-child(1)
      flex: 1 1 auto
      margin-right: 1em
