.student-assignmentlist
  width: 100%
  max-width: 60em
  padding: 0 2em
  margin: 0 auto
  background-color: rgba(216,216,216,0.6)
  
  .notice
    background: yellow
    border-radius: 0.5em
    padding: 1em
    font-size: 0.8em
    
    a
      color: green

  .btn
    display: block
    width: 13em
    margin-bottom: 0.2em
    font-size: 0.8em
