.panel-notice
  border: 1px solid green
  margin: 0 0.5em 0.5em 0.5em
  padding: 0.1em 0.5em
  font-size: 0.8em
  
  h5
    color: green
    padding: 0
    margin: 0.5em 0 0 0
  
  h6
    padding: 0
    margin: 0 0 0.5em 0
