.tutorial
  max-width: 60em
  margin: auto

  ul
    text-indent: 0
    
    li
      clear: left
      
      img
        float: left
        margin: 0 5px
        width: 100px
        height: 100px
      p
        margin-left: 110px
