@keyframes let-it-glow {
  0% {
    box-shadow: 0 0 0.1em 0.1em light-grey
  }
  100% {
    box-shadow: 0 0 0.3em 0.2em #f93
  }
}

.glowing-outline
  animation-name: let-it-glow
  animation-duration: 2s
  animation-iteration-count: infinite
  animation-direction: alternate
