html
body
#app-container
#app-container > div
  height 100%  //Enables display: flex child items to grow properly in IE11.
  min-height 100%  //Prevents the above fix from limiting the height of said elements in other browsers.
