html
body
#app-container
#app-container > div
  height 100%      //Layout/IE11 Fix: Enables flex child items to grow properly in IE11.
  min-height 100%  //Layout: Prevents the above fix from limiting the height of said elements in other browsers. The container must fit the window, at minimum. Larger is OK, smaller isn't.

#app-container
  > div
    display flex           //Layout: Necessary for positioning of .site-header, .site-footer, .content-section.
    flex-direction column  //Layout: (same)

    /*
    WARNING: '#app-container' and '#app-container > div' will not stretch to fit
    their content. This doesn't affect the layout of elements across browsers,
    but it does affect backgrounds. Do not use CSS background here; place
    background in either body or .content-section.
     */

    /*
    WARNING: Adding padding to #app-container or #app-container > div will cause
    certain content, e.g. maps, to fail to "stretch fully" into the container.
    Please check with design before adding paddings/margins here.
     */

.site-header
.site-footer
  flex 0 0 auto  //Layout: Standard header. Stays at the top of the page, not stick to the top of the window.

.content-section
  @extend .col-md-10
  background-color: light-grey
  display flex   //Layout: Allow content to stretch to fit .content-section.
  flex 1 0 auto  //Layout: Grow container if window is larger than content, but never shrink if vice versa.
