// Colours
blue = #0090db
green = #4c7452
green-rgba = rgba(76, 116, 82, 0.6)
dark-grey = #2d2d2d
dark-grey-rgba = rgba(18, 18, 18, 0.8)
medium-grey = #757575
light-grey = #d8d8d8
light-grey-rgba = rgba(216, 216, 216, 0.6)
off-white = #F5F5F5
off-white-rgba = rgba(245,245,245,0.6)
olive-green = #8a9d56
yellow = #efd59c

// Optionally override Bootstrap variables here
$body-bg = medium-grey
$btn-info-bg = green
$btn-primary-bg = yellow
$btn-primary-color = green
$icon-font-path = "/fonts/glyphicons/"
$font-family-sans-serif = "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
$navbar-default-link-color = #fff
$jumbotron-bg = off-white-rgba
$jumbotron-color = off-white
