// Colours
blue = #0090db
green = #27726B
green-rgba = rgba(67,130,97,0.6)
dark-grey = #3a3a3a
dark-grey-rgba = rgba(18, 18, 18, 0.8)
medium-grey = #757575
light-grey = #d8d8d8
off-white = #F5F5F5
off-white-rgba = rgba(245,245,245,0.5)

// Optionally override Bootstrap variables here
$body-bg = medium-grey
$icon-font-path = "/fonts/glyphicons/"
$font-family-sans-serif = "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
$navbar-default-link-color = #fff
